@model IEnumerable<SampleSqlDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Sample Sql Datalar</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>CategoryName</th>
            <th>ProductName</th>
            <th>ProductStock</th>
            <th>ProductPrice</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>@item.CategoryName</td>
                <td>@item.ProductName</td>
                <td>@item.ProductStock</td>
                <td>@item.ProductPrice</td>
            </tr>

        }
    </tbody>
</table>